body { 
  background: url('https://pixabay.com/static/uploads/photo/2013/10/02/23/03/dawn-190055_960_720.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.vcenter{
   margin-top: 175px;
}

.title { 
  background-color: white;
  color: #fff; 
  display: inline;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  opacity: .5;
  border-radius: 3px;
}

h1{
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom:-5px;
    font-size:70px;
    
}

h2{
    font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
    margin-top: 0px;
}
.btn{
    margin-left: 50px;
    margin-right: 50px;
    color:black;
    font-family:times, Times New Roman, times-roman, georgia, serif;
    text-transform: uppercase;
}

.text{
    color:black;
}

@media (max-width:767px){
.h1-font-size{
    font-size:3em;
    margin-top: 13px; !important
    margin-bottom: 0;
    margin-left: -12;
    margin-right: 0px;
    }
}